JAXB/src/main/resources/com/indus/training/xsd/newDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/newDetails" xmlns:tns="http://www.example.org/newDetails" elementFormDefault="qualified">


    <complexType name="newDetails">
    	<sequence>
    		<element name="house" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="namenew" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <element name="Office" type="tns:newDetails"></element>
</schema>